<nav class="navbar navbar-light navbar-expand-lg navbar-template">
    <a class="navbar-brand">✆ 080-1234567<br><i class="fa fa-envelope-o"></i> abcd@donut.com</a>
    <div class="d-flex flex-row order-2 order-lg-3">
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
              <a class="nav-link px-2" href="https://www.facebook.com/">
              <span><i class="fa fa-facebook"></i></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2" href="https://twitter.com/login?lang=en">
              <span><i class="fa fa-twitter"></i></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2" href="https://www.youtube.com/">
                <span><i class="fa fa-youtube"></i></span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2" href="https://www.instagram.com/">
                <span><i class="fa fa-instagram"></i></span>
              </a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse order-3 order-lg-2" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            
        </ul>
    </div>
</nav>