<h1 class="mt-5">ABOUT</h1>
  <div class="container-fluid">
	
	<div class="row topBuffer">
			 <div class="col-md-6">
	    	<h2>Our Mission</h2>
	    	<p class="text-center">As a team, our mission is to drive sustainable growth that enhances value for our shareholders, associates, distributors, customers, consumers, and communities.</p>
			
		    <h2>Our Essence</h2>
		    <p class="text-center"> is a Indian mobile food delivery marketplace headquartered in Berlin, Germany, operating in 11 countries and territories. </p>
	
	    	<h2>Our Promise</h2>
	    	<p class="text-center">We make sure Indian food is accessible, convenient to eat in neatly packed boxes, and is the popular choice, anytime you are hungry. Because it's about more than just having amazing food</p>
		
		    <h2>Our Vive</h2>
		    <p class="text-center">We work in an environment where we eat, sleep and breathe food. You will work closely with the brightest minds on how to make a big difference in the way food reaches a customer, and deliver a delightful experience.</p>
	  	
		</div>
		<div class="col-md-6">
			<div class="about-image"></div>
		</div>
	</div>
	</div>
	

