h2{
    text-align: center;
}
.text-center {
text-align: center!important;
}
.container-fluid{
    background-color: #333 !important;
    
}
.topBuffer h2, p{
color:#ffffff;
}

.about-image{
    background: url("../../assets/background.jpg") no-repeat;
    background-size:cover;
    height:35em;
    /*background-position:center;*/ 
}

.mt-5{
    margin-top: 1rem!important;
    margin-left: 4rem !important;
    margin-bottom: 1rem !important;
    color: #2f8384 !important;
    text-align:center;
}