<div class="modal fade" id="selectedImageModal" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
         <img *ngIf="selectedImage" src="{{selectedImage.url}}" >
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="text-center">
  <p class=" title-heading">Food item list</p>
  </div>
  <div id="thumbnailsList" >
      <div class="row mb-3">
     <div *ngFor="let image of images" class="col-md-4" >
       <div class="card">
        <img src="{{image.url}}"  class="img-fluid"
      data-toggle="modal" data-target="#selectedImageModal"
                (click)=setSelectedImage(image) alt="">
                </div>
                <button class="btn btn-primary float-right">Add to cart</button>
                <p>title: {{image.title}}</p>
                <p>Description: {{image.description}}</p>
                <p>Price:{{image.price}}</p>
                
     </div>
    </div>
    </div>
</div>
  <!--<app-food [datasource]=images></app-food>-->