<div class="modal fade" id="selectedImageModal" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
         <img *ngIf="selectedImage" src="{{selectedImage.url}}" >
      </div>
    </div>
  </div>
</div>
<div class="container">
  <p class="text-center">Food item list</p>
  <div id="thumbnailsList" >
      <div class="row">
     <div *ngFor="let image of images" class="col-md-4" >
        <img src="{{image.url}}"  class="tn  img-thumbnail"
      
      data-toggle="modal" data-target="#selectedImageModal"
                (click)=setSelectedImage(image)>
                <p>title: {{image.title}}</p>
                <p>Description: {{image.description}}</p>
                <p>Price:{{image.price}}</p>
     </div>
    </div>
    </div>
</div>
  <!--<app-food [datasource]=images></app-food>-->