<h1 class="mt-5">CATERING</h1>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
          <div class="jumbotron"></div>
      </div>
      <div class="col-md-6">
        <h2>Large order? No problem.</h2>
        <p class="text-center">
            We do weddings, receptions, graduation parties and treat-days for businesses.<br>
            Whether you’re at the University or the office, be a hero and bring in<br>
            boxes of gourmet donuts to brighten the crew’s day!
        </p>
        <p class="text-center">
            Email us at <a href="mailto:orders@donut.com" style="color:#036ee1">orders@donut.com</a> or call 080-1234567 for pricing.
        </p>
      </div>
    </div>
     