<h1 class="mt-5">CATERING</h1>
  <div class="container">
		<div class="jumbotron">
	<div class="row topBuffer">
			 <div class="col-md-6">
	    </div>
	  	<div class="col-md-6">
		    </div> 
		</div>
		<div class="row topBuffer">
			 <div class="col-md-6">
	    	</div>
	  	<div class="col-md-6">
		    
	  	</div> 
		</div>
	</div>
	</div>
  <!-- <div class="col-md-5 p-lg-5 mx-auto my-5">
      <p class="display-4"><strong>Large order? No problem.</strong><br>
      </p>
      <div style="text-align: center;"></div>
      <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div> -->
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Large order? No problem.</h2>
        <p class="lead">
            We do weddings, receptions, graduation parties and treat-days for businesses.<br>
            Whether you’re at the University or the office, be a hero and bring in<br>
            boxes of gourmet donuts to brighten the crew’s day!
        </p>
        <p class="lead">
            Email us at <a href="mailto:orders@donut.com">orders@donut.com</a> or call 080-1234567 for pricing.
        </p>
      </div>