h2{
    text-align: center;
    margin-top: 2rem;
}
.text-center {
text-align: center!important;
margin-top: 3rem !important;
}
.container-fluid{
    background-color: #333 !important;
    color: white;
}
.jumbotron{
    /* background-color: #333 !important; */
    background: url("../../assets/catering.jpg") no-repeat;
    background-size:cover;
    height:27em;
    background-position:center; 
}
.mt-5{
    margin-top: 0.5rem!important;
    margin-left: 4rem !important;
    margin-bottom: 0.2rem !important;
    color: #39999b !important;
    font-size: 1.5em;
}
.topBuffer p{
    color:#ffffff;
    font-size: 0.99em;
    }
.py-5
{
 padding-top: 0rem !important;
}