.mt-5{
  margin-top: 0.5rem!important;
  margin-left: 4rem !important;
  margin-bottom: 0.2rem !important;
  color: #39999b !important;
  font-size: 1.5em;
}
.card-title{
  color:#080a0b !important;
}
.card-body h1{
  font-size: 1.5rem;
  text-align: center;
}

mat-grid-tile[_ngcontent-c4] {
  background: #8ccfe5 !important;
}
.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  .example-large-box {
    height: 300px;
    width: 300px;
  }
  .example-action-button {
    margin-bottom: 8px;
  }
  .mat-tab-group {
    margin-left: 0% !important;
}
mat-grid-tile {
  background: lightblue;
}