
 .btn-primary{
    background-color:#275ab8;
    margin-top: 35px;
}
    .modal-body img{
        width:100% !important;
        
    }
    .modal-dialog {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
      }
      
      .modal-content {
        margin: 0 auto;
      }


    
    .card img{
        height:300px !important;
    }
    .title-heading{
        border:1px solid black;
        margin: 10px;
    padding: 10px;
    display: inline-block;
    
    }